* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgb(34, 34, 34);
  min-height: 100vh;
}

.cargando {
  display: flex;
  gap: 15px;
  position: relative;
}

.cargando span {
  height: 20px;
  width: 5px;
  position: relative;
  background: rgb(34, 34, 34);
}

.cargando span::before {
  content: " ";
  inset: 0;
  position: absolute;
  animation: movimiento 8s linear infinite;
  animation-delay: calc(var(--i) * 0.1s);
}
@keyframes movimiento {
  0% {
    background: teal;
    box-shadow: 0 0 5px teal, 0 0 15px teal, 0 0 30px teal, 0 0 50px teal;
    rotate: 0deg;
  }
  20% {
    background: teal;
    box-shadow: 0 0 5px teal, 0 0 15px teal, 0 0 30px teal, 0 0 50px teal;
    rotate: 0deg;
  }
  40% {
    background: teal;
    box-shadow: 0 0 5px teal, 0 0 15px teal, 0 0 30px teal, 0 0 50px teal;
    rotate: 90deg;
    transform-origin: bottom;
    filter: hue-rotate(0deg);
  }
  80% {
    background: teal;
    box-shadow: 0 0 5px teal, 0 0 15px teal, 0 0 30px teal, 0 0 50px teal;
    rotate: 90deg;
    transform-origin: bottom;
    filter: hue-rotate(360deg);
  }
  90% {
    background: black;
    box-shadow: none;
    rotate: 0deg;
  }

  100% {
    background: black;
    box-shadow: none;
    rotate: 0deg;
  }
}
